# Loan Data (Machine Learning)

## Import Data Set

In [2]:
import pandas as pd

df = pd.read_csv('loan_data_set.csv')

## Exploratory Data Analysis

In [5]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [4]:
df.fillna(method='ffill', inplace=True)
df.fillna(method='bfill', inplace=True)

<ipython-input-4-96193a07bbea>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)
<ipython-input-4-96193a07bbea>:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)

In [7]:
new_df = pd.get_dummies(df, columns=['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area', 'Loan_Status'])
new_df.head()

,Loan_ID,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,...,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_N,Loan_Status_Y
0,LP001002,5849,0.0,128.0,360.0,1.0,False,True,True,False,...,False,True,False,True,False,False,False,True,False,True
1,LP001003,4583,1508.0,128.0,360.0,1.0,False,True,False,True,...,False,True,False,True,False,True,False,False,True,False
2,LP001005,3000,0.0,66.0,360.0,1.0,False,True,False,True,...,False,True,False,False,True,False,False,True,False,True
3,LP001006,2583,2358.0,120.0,360.0,1.0,False,True,False,True,...,False,False,True,True,False,False,False,True,False,True
4,LP001008,6000,0.0,141.0,360.0,1.0,False,True,True,False,...,False,True,False,True,False,False,False,True,False,True

In [8]:
new_df.dtypes

Loan_ID                     object
ApplicantIncome              int64
CoapplicantIncome          float64
LoanAmount                 float64
Loan_Amount_Term           float64
Credit_History             float64
Gender_Female                 bool
Gender_Male                   bool
Married_No                    bool
Married_Yes                   bool
Dependents_0                  bool
Dependents_1                  bool
Dependents_2                  bool
Dependents_3+                 bool
Education_Graduate            bool
Education_Not Graduate        bool
Self_Employed_No              bool
Self_Employed_Yes             bool
Property_Area_Rural           bool
Property_Area_Semiurban       bool
Property_Area_Urban           bool
Loan_Status_N                 bool
Loan_Status_Y                 bool
dtype: object

Drop values where a Female is unmarried, graduated, not self employed, rural property area, not approved loan status and has 3+ dependents

In [9]:
new_df.drop(columns=['Gender_Female', 'Married_No', 'Education_Graduate', 'Self_Employed_No', 'Property_Area_Rural', 'Loan_Status_N', 'Dependents_3+'], inplace=True)

In [10]:
x = new_df.iloc[:, 2:15]
y = new_df.iloc[:, -1]

In [49]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

In [50]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x_train, y_train)
y_hat = lr.predict(x_test)

In [51]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
print(f'Accuracy: {accuracy_score(y_test, y_hat) * 100} %')
print('Confusion Matrix:\n', confusion_matrix(y_test, y_hat))
print('Classification Report:\n', classification_report(y_test, y_hat))

Accuracy: 85.06493506493507 %
Confusion Matrix:
 [[ 23  20]
 [  3 108]]
Classification Report:
               precision    recall  f1-score   support

       False       0.88      0.53      0.67        43
        True       0.84      0.97      0.90       111

    accuracy                           0.85       154
   macro avg       0.86      0.75      0.79       154
weighted avg       0.86      0.85      0.84       154